NOMINATIM_BASE_URL=https://nominatim.openstreetmap.org
VALHALLA_BASE_URL=http://localhost:8002
ARCGIS_POI_URL=https://services3.arcgis.com/iuNbZYJOrAYBrPyC/arcgis/rest/services/survey123_7932a20fc6b14b7d9e48cbdb5e383a9c_results/FeatureServer/0/query
ARCGIS_BASEMAP_SERVICE_URL=https://services7.arcgis.com/UlEfxLrnpFcC1i8z/ArcGIS/rest/services/Tufts_University_Basemap/FeatureServer
ARCGIS_GRAVEL_LAYER_ID=20
ARCGIS_SIDEWALK_LAYER_ID=15
ARCGIS_PATH_LAYER_ID=14
ARCGIS_POI_CORRIDOR_DISTANCE_M=12
ARCGIS_REST_STOP_CORRIDOR_DISTANCE_M=18
ARCGIS_SURFACE_CORRIDOR_DISTANCE_M=8
ARCGIS_REST_STOP_URL=https://services3.arcgis.com/iuNbZYJOrAYBrPyC/arcgis/rest/services/survey123_e4187ac026344439a0cbbe2af967c1a7_results/FeatureServer/0/query
ARCGIS_REST_STOP_TOKEN=
VALHALLA_INTERNAL_CANDIDATE_COUNT=6
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
PROTOTYPE_MODE=true
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:5173,http://localhost:4173,http://127.0.0.1:5173,http://127.0.0.1:4173,capacitor://localhost,ionic://localhost,https://localhost
CORS_ALLOW_ORIGIN_REGEX=https?://(localhost|127\.0\.0\.1)(:\d+)?
